<div class="container-fluid no-float">
    <div class="row no-float">
        <div class="col-sm-8 text-center no-float urn-preview" 
        [ngStyle]="{ 'background-image': 'url(' + urnImageURL + ')' }">
        <!-- style="background-image:url('{{urnImageURL}}');"> -->
            <img src="{{urnImageURL}}" class="hidden-lg hidden-md hidden-sm" style="width:100%"/>
        </div>
        <div class="col-sm-4 no-float right-nav">
            <app-configure (urnStylePicked)='onUrnStylePicked($event)' (urnColorPicked)='onUrnColorPicked($event)'></app-configure>
        </div>
    </div>      
</div>      