  <accordion [closeOthers]="true">
      <accordion-group heading="Urn Style" [isOpen]="true" [panelClass]="panelClass">
          <p>Choose the style of your urn.</p>
          <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-4" *ngFor="let style of urnStyles">
                        <img src="/assets/images/urns/{{style | lowercase}}.base.jpg" [title]="style" width="100%" (click)="onStyleClick(style)" class="btn" />
                    </div>
                </div>
            </div>
      </accordion-group>
      <accordion-group heading="Urn Color" [panelClass]="panelClass">
          <p>Choose the color of your urn.</p>
          <div class="container-fluid text-center">
                <div class="row">
                        <div class="col-md-6 col-lg-4" *ngFor="let color of urnColors" >
                            <img src="/assets/images/urns/classic.{{color | lowercase}}.jpg" [title]="color" style="width:100%;" (click)="onColorClick(color)" class="btn" />
                        </div>
                </div>
          </div>
          
      </accordion-group>
      <accordion-group heading="Engraving" [panelClass]="panelClass">
        <p>Celebrate the uniqueness of your loved one's life with personalization -- a new process where our master engravers incorporate old world craftsmanship with state of the art laser technology. Each memorial layout is individually designed and upon approval: laser engraved, color inlayed by hand and polished to a luxuriuous shine.</p>
        <p> We invite you to incorporate an element of inspiratoon by reviewing MacKenzie's extensive collection of standard graphics, poems and passages. Select something that reflects the importance of your loved one's passion, occupation, personal interest or hobby. Or, create a truly unique and custom memorial by adding a family photo, special theme graphic or even your loved one's signature.</p>
        <p>Simply send your custom image to MacKenzie Vault or request that we locate a particular image for you.</p>
        <p class="text-center">
          <a href="http://www.mackenzievault.com/resources/2012-Clip-Art.pdf" class="btn btn-lg btn-success" target="_blank">Download</a>
        </p>
      </accordion-group>
    </accordion>