/* You can add global styles to this file, and also import other style files */
html {height:100%;}
body {min-height: 100%;background: url(/assets/images/background.jpg);background-size: cover; }
/* body { background-color: rgb(255, 255, 255)} */
.urn-preview {background-repeat: no-repeat;background-size: contain;background-position: center}
.right-nav {background-color:#313131;}
.row .no-float {
    padding: 0;
    margin: 0;
}
@media (min-width: 768px){
    html,body,.container-fluid.no-float {
        height:100%;
    }
    .container-fluid.no-float {
        display: table;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .row.no-float {
        height: 100%;
        display: table-row;
    }

    .row .no-float {
    display: table-cell;
    float: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
    }
}
/* Bootstrap overrides */
.panel-heading {border-top-left-radius: 0;border-top-right-radius: 0;background-color: #40403f;color: #fff;}
.panel-group .panel {border-radius: 0}
.panel-group {margin-bottom: 0}
.panel {background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.68);}
.panel-collapse::before {background-image: url(http://www.zingerbug.com/Backgrounds/background_images/white_marble_background_seamless.jpg);content: '';opacity: .5;}

.auto-size-accordion-panel .panel-body {height: calc(100vh - 153px);overflow: auto;}